h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(153, 203, 236);
    
    text-align: center;
}

.container {
    text-align: center;
}



